@charset "utf-8";

/* common */
#goodsShow,#goodsDetails{width:100%}

/* main */
.goodsShowCon{height:500px;box-sizing: border-box;padding:48px 100px;}
.showImg{height:400px;width:345px;position: relative;overflow: hidden;margin-right:150px;}
.showImgBox{height:400px;width:1380px;position: absolute;top:0;left: 0px;}
.showImgBox img{height:400px;width: 345px;display: block;float: left;}
.showImg span{position: absolute;top: 180px;display: block;width: 40px;height: 40px;cursor: pointer;}
.showImg span i{font-size: 34px;color: darkgray;}
.showImg span:nth-of-type(2){right:0}
.goodsAdd{height:400px;width:533px;box-sizing: border-box;display: flex;flex-direction: column;align-items: center;padding-top:60px;}
.goodsAddBox{margin-bottom: 20px;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.goodsAddBox h3{font-size: 30px;font-weight: bold;margin-bottom:10px;}
.goodsAddBox p{font-size: 20px;margin-bottom: 20px;margin-bottom: 15px;}
.goodsAddBox em{font-size: 18px;margin-bottom: 15px;}
.goodsAddBox em i{color:gray;font-size: 14px;}

.addCart{height:56px;box-sizing: border-box;width:335px;display: flex;justify-content: space-between;padding:12px 12px 0;}
.cart{height:44px;width:190px;display: block;background: black;color:white;text-align: center;line-height: 44px;font-size: 18px;font-weight: bold;border: none;border-radius: 4px;;cursor: pointer;}
.wishList{display: block;height:44px;line-height: 44px;font-size: 18px;font-weight: bold;text-align: center;width:100px;border: none;border-radius: 4px;cursor: pointer;}
.wishList i{color:gray;}
.goodsDetCon{height:498px;box-sizing: border-box;padding:0 100px 48px;background: lightgrey; display: flex;justify-content: space-between;}
.goodsDetTxt{display: flex;flex-direction: column;justify-content: center;width:400px;box-sizing: border-box;padding:48px 0;}
.goodsDetTxt h3{font-size:30px;font-weight: bold;margin-bottom:10px;}
.goodsDetTxt p{font-size: 20px;margin-bottom: 20px;margin-bottom:20px;}
.goodsDetTxt em,i{font-size: 18px;margin-bottom:35px;}

/* 放大镜 */
#box{width:345px;height:400px;position: relative;background-size: 345px 400px;margin-top:48px;}
#mirror-box{width:100px;height:100px;position: absolute;top:50px;left:100px;background: red;opacity: .3;}
#show-box{width:100px;height:100px;position: absolute;top:0;left:-150px;background-size: 345px 400px;background-position: -50px -100px;}